.project-containar-page{
    background-image: url(https://img.freepik.com/premium-photo/blurry-black-abstract-texture-background_351397-1037.jpg);
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20%;
    font-family: Nunito,sans-serif;
    text-align: center;
    margin-top: -100px;
}
.project-containar-page>h1{
    margin-top: 100px;
    color: white;
    text-transform: uppercase;
}
h1{
   display: block;
   font-size: 2em;
   margin-block-start: 0.67em;
   margin-block-end: 0.67em;
   margin-inline-end: 0px;
   margin-inline-start: 0px;
   font-weight: bold;
   color: white;
}

.project-containar-page .projectsContainar{
    width: 80%;
    margin: auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}
.project-containar-page .box{
    margin-top: 100px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 80px;
    border: 10px solid white;
    border-radius: 20px;
    overflow: hidden;
}
.project-containar-page .imgBOX{
    width: 100%;
    height: 280px;
    overflow: hidden;

}
.project-containar-page .imgBOX>img{
    width: 100%;
    display: block;
    transition: transform 0.4s ease 0s;
}
img{
    overflow-clip-margin: content-box;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.project-containar-page .contentBox{
    text-align: center;

}
.project-containar-page .contentBox>p{
    font-size: 20px;
    width: 80%;
    margin:10px;
    color:white
}
.project-containar-page .tagsBox{
    width: 100%;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 20px;
    gap: 5px;
    margin-bottom: 20px;
    color:white
}
.project-containar-page .linkSection{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.project-containar-page .linkSection>a{
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.project-containar-page .linkSection >:last-child > button {
    background-color: black;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 10px;
}

.project-containar-page .linkSection>a:first-child > button {
    background-color: black;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 10px;
    border: none;
    cursor: pointer;
}
.p {
    color:white;
}